<%= content_for :head_title, I18n.t('emails.activation_needed.welcome') %>
<tr>
  <td style="background-color: #ffffff;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="center" style="padding-top:36px;padding-bottom: px;text-align: center;">
          <img src="http:://kassa.alfa:3002/email/family.png" alt="" width="128" height="128"
            style="border: 0; max-width: 128px; vertical-align: middle; width: 100%;">
        </td>
      </tr>
      <tr>
        <td
          style="padding: 38px 14px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; color: #000000;">
          <h1 class="content-title" style="margin: 0 0 37px; padding-left: 46px; padding-right: 46px; font-size: 36px; line-height: 49px; color: #000000; font-weight: 600; text-align: center;">
            <%= I18n.t('emails.activation_needed.welcome') %>
          </h1>
          <p class="content-block-text" style="margin: 0; padding-left: 46px; padding-right: 46px;">
            <%= I18n.t('emails.activation_needed.congrats', nickname: @user.nickname) %>
            <br />
            <br />
            <%= I18n.t('emails.activation_needed.success_registration') %>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td aria-hidden="true" height="22" style="font-size: 0px; line-height: 0px;">
    &nbsp;
  </td>
</tr>
<tr>
  <td class="content-block" style="background-color: #ffffff; padding: 51px 56px 46px 62px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding-bottom: 38px;">
          <h2 style="margin: 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 24px; line-height: 33px; color: #000000; text-align: center;">
            <%= I18n.t('emails.activation_needed.activate_title') %>
          </h2>
        </td>
      </tr>
      <tr>
        <td
          style="padding-bottom: 38px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <p style="margin: 0;">
            <%= I18n.t('emails.activation_needed.follow_the_link') %>
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
            <tr>
              <td class="button-td button-td-primary" style="border-radius: 4px; background: #FFD828;">
                <a
                  class="button-a button-a-primary"
                  href="<%= @activation_url %>"
                  style="background: #FFD828; border: none; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; font-weight: 600; line-height: 22px; letter-spacing: 0.02em; text-decoration: none; padding: 13px 20px; color: #1C1C1C; display: block; border-radius: 4px; white-space: nowrap;"
                >
                  <%= I18n.t('emails.activation_needed.activate_link_title') %>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td aria-hidden="true" height="22" style="font-size: 0px; line-height: 0px;">
    &nbsp;
  </td>
</tr>
<tr>
  <td class="content-block" style="background-color: #ffffff; padding: 43px 56px 55px 62px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding-bottom: 20px;">
          <h2
            style="margin: 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 24px; line-height: 33px; color: #000000; text-align: center;">
            <%= I18n.t('emails.activation_needed.profile_access') %>
          </h2>
        </td>
      </tr>
      <tr>
        <td class="content-block-login"
          style="padding: 30px 15px 30px 30px; background: #ECF0F6; border-radius: 10px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <h3
            style="margin: 0 0 10px 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 17px; line-height: 20px; letter-spacing: 0.02em; color: #000000;">
            <%= I18n.t('emails.activation_needed.use_email_as_login') %>
          </h3>
          <% if @user.reset_password_token.present? %>
            <%= link_to(I18n.t('emails.activation_needed.set_password_link'), edit_password_url(@user.reset_password_token), style: "font-family: 'Open Sans', 'Helvetica', sans-serif;text-decoration: underline;font-size: 17px;line-height: 20px;color:#7CA7C8;") %>
          <% else %>
            <p style="margin: 40px 40% 0 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 11px; line-height: 16px;  color: #9D9D9D;">
              <%= I18n.t('emails.activation_needed.you_can_change_pasword') %>
            </p>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td aria-hidden="true" height="25" style="font-size: 0px; line-height: 0px;">
    &nbsp;
  </td>
</tr>
