<div style="cursor:auto;color:#000000;font-family:Arial, sans-serif;font-size:16px;line-height:1;">
  <h1><%= I18n.t('emails.password_remind.title') %></h1>
  <p style="color: #000;"><%= I18n.t('emails.common.hello', nickname: @user.name).html_safe %><br><br>
    <%= I18n.t('emails.password_remind.request') %>
  </p>
  <br>
  <br>
  <p style="padding-bottom:8px;">
    <%= I18n.t('emails.password_remind.goto_link') %><br>
  </p>
  <table cellpadding="0" cellspacing="0" align="left" border="0">
    <tbody>
      <tr>
        <td style="border-radius:8px;color:#1c1c1c;cursor:auto;padding:16px 32px;" align="center" valign="middle" bgcolor="#ffd828">
          <a href="<%= @reset_password_url %>" style="display:inline-block;text-decoration:none;background:#ffd828;border-radius:8px;color:#1c1c1c;font-family:Arial, sans-serif;font-size:19px;font-weight:bold;margin:0px;" target="_blank"><%= I18n.t('emails.password_remind.title') %></a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <p style="color: #000;">
    <%= I18n.t('emails.common.postscript').html_safe %>
  </p>
</div>
