<div style="cursor:auto;color:#000;font-family:Arial, sans-serif;font-size:16px;line-height:1;">
    <h1><%= I18n.t('emails.change_ticket.done_title') %></h1>
    <p style="color: #000;">
      <%= I18n.t('emails.change_ticket.done_status', order_id: @order.public_id).html_safe %>
    </p>
    <p style="color: #000;">
      <%= I18n.t('emails.change_ticket.done_feedback').html_safe %>
    </p>
    <div
      style="background: #f6faff; display: inline-block; padding-left: 20px;width:96%;border-radius:5px">
      <p style="color: #000;">
        <table style="line-height:1.3; vertical-align: top;" border="0" width="100%">
          <tr>
            <td width="50%" style="line-height:1.3; vertical-align: top;">
              <p style="color: #000;"><b><%= I18n.t('emails.change_ticket.done_sites') %></b></p>
              <table style="line-height:1.3" border="0">
                <tr>
                  <td width="30">
                    <img src="http://favicon.yandex.net/favicon/bestchange.ru" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://bestchange.ru/kassa-exchanger.html" target="_blank">bestchange.ru</a>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td width="30">
                    <img src="http://bits.media/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://forum.bits.media/index.php?/topic/27575-kassacc-edinyi-obmen-valiut/" target="_blank">bits.media.ru</a>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td width="30">
                    <img src="https://kurs.expert/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://kurs.expert/ru/obmennik/kassa-cc/feedbacks.html" target="_blank">kurs.expert</a>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td width="30">
                    <img src="https://xrates.ru/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://xrates.ru/testimonials/379/p1" target="_blank">xrates.ru</a>
                    <br>
                  </td>
                </tr>  
                <tr>
                  <td width="30">
                    <img src="https://exchangesumo.com/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://exchangesumo.com/exchanger/584/Kassa/" target="_blank">exchangesumo.com</a>
                    <br>
                  </td>
                </tr>  
                <tr>
                  <td width="30">
                    <img src="https://superobmen.org/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://superobmen.org/monitoring-obmennikov/?details=297" target="_blank">superobmen.org</a>
                    <br>
                  </td>
                </tr> 
                <tr>
                  <td width="30">
                    <img src="https://bestexchangers.ru/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://bestexchangers.ru/detail.php?xobmen=553" target="_blank">bestexchangers.ru</a>
                    <br>
                  </td>
                </tr> 
                <tr>
                  <td width="30">
                    <img src="http://mmgp.ru/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="http://mmgp.ru/showthread.php?t=458503&page=1#post11133201" target="_blank">mmgp.ru</a>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td width="30">
                    <img src="https://bitcointalk.org/favicon.ico" style="height:20px; width: 20px;">
                  </td>
                  <td>
                    <a href="https://bitcointalk.org/index.php?topic=1574514.msg15806745#msg15806745" target="_blank">bitcointalk.org</a>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
            <td width="50%" style="line-height:1.3; vertical-align: top;">
              <p style="color: #000;"><b><%= I18n.t('emails.change_ticket.done_socials') %></b></p>
              <table style="line-height:1.3" border="0">
                <tr>
                  <td width="30">
                    <img
                      src="http://files.softicons.com/download/social-media-icons/social-media-icons-by-alper-cakici/png/32x32/Vk.png"
                      style="height:20px; width: 20px;">
                  </td>
                  <td><a href="https://vk.com/kassa_cc" target="_blank">vk.com</a><br></td>
                </tr>
                <tr>
                  <td width="30">
                    <img
                      src="http://files.softicons.com/download/social-media-icons/social-media-icons-by-alper-cakici/png/32x32/Facebook.png"
                      style="height:20px; width: 20px;">
                  </td>
                  <td><a href="https://facebook.com/kassacc" target="_blank">facebook.com</a><br></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </p>
    </div>
</div>
