<%= content_for :head_title, I18n.t('emails.order_complete.title') %>
<tr>
  <td style="background-color: #ffffff;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody><tr>
        <td align="center" style="padding-top:36px;padding-bottom: px;text-align: center;">
          <img src="https://kassa.cc/images/emails/success.png" alt="" width="102" height="102" style="border: 0; max-width: 102px; vertical-align: middle; width: 100%;">
        </td>
      </tr>
      <tr>
        <td style="padding: 38px 14px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; color: #000000;">
          <h1
            class="content-title"
            style="margin: 0 0 37px; font-size: 36px; line-height: 49px; color: #000000; font-weight: 600; text-align: center;"
          ><%= I18n.t('emails.order_complete.title') %></h1>
          <p class="content-block-text" style="margin: 0; padding-left: 46px;">
            <b><%= I18n.t('emails.order_complete.hello', nickname: @order.user.nickname ) %></b>
            <br>
            <br>
            <%= I18n.t('emails.order_complete.order_complete', public_id: @order.public_id) %>
            <br>
            test test
            <% if @order.outcome_transaction.present? %>
              <%= I18n.t('emails.order_complete.outcome_transaction', link: link_to(@order.outcome_transaction, @order.outcome_transaction)) %>
            <% end %>
            <br>
            <%= I18n.t('emails.order_complete.thanks') %>
          </p>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td aria-hidden="true" height="19" style="font-size: 0px; line-height: 0px;">
    &nbsp;
  </td>
</tr>
<tr>
  <td class="content-block" style="background-color: #ffffff; padding: 45px 54px 38px 73px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody><tr>
        <td style="padding-bottom: 42px;">
          <h2 style="margin: 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 24px; line-height: 33px; color: #000000; text-align: center;">
            <%= I18n.t('emails.order_cheque_complete.order_info') %>
          </h2>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 50px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <p style="margin: 0;"><%= I18n.t('emails.order_cheque_complete.details_in_profile') %></p>
        </td>
      </tr>
      <tr>
        <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
            <tbody><tr>
              <td class="button-td button-td-primary" style="border-radius: 4px; background: #FFD828;">
                <a class="button-a button-a-primary" href="https://kassa.cc/orders" style="background: #FFD828; border: none; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; font-weight: 600; line-height: 22px; letter-spacing: 0.02em; text-decoration: none; padding: 13px 16px; color: #1C1C1C; display: block; border-radius: 4px; white-space: nowrap;"
                >
                  <%= I18n.t('emails.order_cheque_complete.go_to_profile') %>
                </a>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<tr>
  <td aria-hidden="true" height="13" style="font-size: 0px; line-height: 0px;">
    &nbsp;
  </td>
</tr>
<tr>
  <td class="content-block" style="background-color: #ffffff; padding: 56px 18px 26px 30px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody><tr>
        <td style="padding-bottom: 39px;">
          <h2
            style="margin: 0; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 24px; line-height: 33px; color: #000000; text-align: center;"
          >
            <%= I18n.t('emails.order_complete.laeve_feedback') %>
          </h2>
        </td>
      </tr>
      <tr>
        <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 168x; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <p style="margin: 0 0 22px;"><%= I18n.t('emails.order_complete.laeve_feedback_please') %></p>
        </td>
      </tr>
      <tr>
        <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody><tr>
              <td style="padding-bottom: 3px;font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 18px; line-height: 22px; letter-spacing: 0.02em; color: #000000; white-space: nowrap;">
                <%= I18n.t('emails.order_complete.social_media') %>
              </td>
              <td style="padding-bottom: 3px; font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 18px; line-height: 22px; letter-spacing: 0.02em; color: #000000; white-space: nowrap;">
                <%= I18n.t('emails.order_complete.sites') %>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 11px;" valign="top">
                <a href="http://vk.com/kassa_cc" style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                      <td width="55">
                        <img src="https://kassa.cc/images/emails/vk.png" width="40" height="40" style="border: 0; max-width: 40px; vertical-align: middle; width: 100%;">
                      </td>
                      <td>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody><tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: bold; font-size: 14px; line-height: 19px;">
                              VKontakte</td>
                          </tr>
                          <tr>
                            <td style="padding-right: 10px;font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #807F7F;"
                            >
                              <%= I18n.t('emails.order_complete.leave_feedback_vk') %>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </a>
              </td>
              <td style="padding-top: 11px;" valign="top">
                <a href="https://www.bestchange.net/kassa-exchanger.html" style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                      <td width="106">
                        <img src="https://kassa.cc/images/emails/bc.png" width="91" height="19" style="border: 0; max-width: 91px; vertical-align: middle; width: 100%;">
                      </td>
                      <td>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody><tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: bold; font-size: 14px; line-height: 19px;">
                              Bestchange</td>
                          </tr>
                          <tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #807F7F;">
                              <%= I18n.t('emails.order_complete.leave_feedback_bestchange') %></td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </a>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 11px;" valign="top">
                <a href="http://facebook.com/kassacc" style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                      <td width="55">
                        <img src="https://kassa.cc/images/emails/fb.png" width="40" height="40" style="border: 0; max-width: 40px; vertical-align: middle; width: 100%;">
                      </td>
                      <td>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody><tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: bold; font-size: 14px; line-height: 19px;">
                              Facebook</td>
                          </tr>
                          <tr>
                            <td style="padding-right: 10px;font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #807F7F;"
                            >
                              <%= I18n.t('emails.order_complete.leave_feedback_facebook') %>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </a>
              </td>
              <td style="padding-top: 11px;" valign="top">
                <a href="http://mmgp.ru/showthread.php?t=458503&amp;page=1#post11133201" style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-size: 16px; line-height: 22px; letter-spacing: 0.02em; color: #000000;">
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                      <td width="106">
                        <img src="https://kassa.cc/images/emails/mmgp.png" width="91" height="31" style="border: 0; max-width: 91px; vertical-align: middle; width: 100%;">
                      </td>
                      <td>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody><tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: bold; font-size: 14px; line-height: 19px;">
                              MMGP</td>
                          </tr>
                          <tr>
                            <td style="font-family: 'Open Sans', 'Helvetica', sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #807F7F;"
                            >
                              <%= I18n.t('emails.order_complete.leave_feedback_mmgp') %>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </a>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
